   /*  -----ENTIRE WEBSITE------ */
@font-face {
    font-family: Jost;
    src: url('../assets/Jost-Regular.ttf');
    font-weight: normal;}


.layout {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 2rem ;}

body {
    font-family: 'Jost','Helvetica','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
    background-color: #ffffdb ;}

h1,h2{color:#444;}

p ,ul  {color: #666}

div {margin-bottom: 60px;}
a   {color:#999;
    text-decoration:none;}
a:hover {color: #666;
    text-decoration:none;}
  
a: {color: red;
    text-decoration: none;}

nav {
    height: 20px;}

nav a:hover {
    color: #111;
}
.active {
    color: #111;}

.logo-text {
    font-size: 30px;
    letter-spacing: 3px;
    color:blue;}
.logo-text:hover {
    color:rgb(86, 86, 240)
}

.logo-text2 {
    color:red;
    letter-spacing: 1px;
}
  

.nav__link {
    font-size: 15px;
    margin-left: 20px;

}
.logoimage{margin-right:10px;}
.home-links a {margin-right: 1rem;}

 /* ----HOMEPAGE------- */
.indexpage-text {
    max-width: 550px;
    margin-left:auto;
    margin-right:auto;}
.heroimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius:20px;}

/* ----ABOUT PAGE------- */
.about-page-hero-image {
    display: block;
    object-fit: cover;
    max-width: 700px;
    width: 98%;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
 
}
/* ----PRODUCT GRID PAGE------- */
.product-grid-image {
    border-radius: 25px;
}


/* ----BLOG PAGE------- */
.blog-page {
    max-width: 800px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;}
.bannerimage, .blog-text img, .product-image {
    border-radius: 20px;
    width:100%;
    max-height:600px;
    object-fit:cover;}

.blog-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.blogposts img {
    width: 100%;
    }
.product-title {
      text-transform: uppercase;
    }
